@font-face {
    font-family: 'Machine-Regular';
    src: url('MachineFont.eot');
    src: url('MachineFont.eot?#iefix') format('embedded-opentype'),
        url('MachineFont.woff2') format('woff2'),
        url('MachineFont.woff') format('woff'),
        url('MachineFont.ttf') format('truetype'),
        url('MachineFont.svg#MachineFont') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

