.page-bedankt-cntent-inr{
	display: flex;
	align-items: center;
}
.page-bedankt-cntent-cntlr{
	padding-bottom: 105px;
}
.page-bedankt-cntent-lft-img-ctlr{
	height: 600px;
	width: 83%;
}
.page-bedankt-cntent-img-cntlr{
    width: 43%;
}
.page-bedankt-cntent-desc-inr {
    width: 57%;
    padding-left: 90px;
    padding-right: 15px;
}
.page-bedankt-cntent-lft-img{
	height: 100%;
}
.page-bedankt-cntent-rgt-img-ctlr{
	height: 360px;
	margin-left: auto;
	margin-top: -310px;
	width: 40%;
	position: relative;
}
.page-bedankt-xs-img{
	position: absolute;
    bottom: 96%;
    right: -10px;
}
.page-bedankt-cntent-rgt-img-ctlr .inline-bg{
	background-position: initial!important;
}
.page-bedankt-cntent-rgt-img{
	height: 100%;
	width: 100%;
}
.page-bedankt-cntent-desc-cntlr{
	max-width: 600px;
	width: 100%;
}
.page-bedankt-cntent-desc-cntlr i{
	display: inline-block;
	margin-bottom: 10px;
}
.page-bedankt-cntent-desc-cntlr i img{
	max-width: 70px;
	width: 100%;
	height: auto;
}
.page-bedankt-con-desc-title{
	margin-bottom: 25px;
}

@media(max-width: 1499px){
	.page-bedankt-cntent-rgt-img-ctlr{
		height: 310px;
	    margin-top: -280px;
	    width: 44%;
	}
}
@media(max-width: 1199px){
	.page-bedankt-cntent-cntlr{
		padding-bottom: 95px;
	}
	.page-bedankt-cntent-desc-inr{
		padding-left: 65px;
	}
	.page-bedankt-cntent-rgt-img-ctlr{
		height: 320px;
		margin-top: -280px;
	}
	.page-bedankt-cntent-rgt-img-ctlr{
		width: 58%;
	}
	.page-bedankt-cntent-lft-img-ctlr{
		width: 80%;
	}
	.page-bedankt-cntent-desc-cntlr i img{
		max-width: 60px;
	}
	.page-bedankt-con-desc-title{
		margin-bottom: 20px;
	}
}
@media(max-width: 991px){
	.page-bedankt-cntent-cntlr{
		padding-bottom: 80px;
	}
	.page-bedankt-cntent-lft-img-ctlr{
		width: 80%;
		height: 500px;
	}
	.page-bedankt-cntent-rgt-img-ctlr{
		width: 60%;
		margin-top: -230px;
		height: 265px;
	}
	.page-bedankt-cntent-desc-inr{
		padding-left: 40px;
	}
	.page-bedankt-cntent-desc-cntlr i img{
		max-width: 55px;
	}
}
@media(max-width: 767px){
	.page-bedankt-cntent-cntlr{
		padding-bottom: 50px;	
	}
	.page-bedankt-cntent-inr{
		display: block;
		padding: 0 20px;
	}
	.page-bedankt-cntent-img-cntlr{
		width: 100%;
		padding-bottom: 35px;
	}
	.page-bedankt-cntent-desc-inr{
		width: 100%;
	}
	.page-bedankt-con-desc-title{
		margin-bottom: 30px;
	}
	.page-bedankt-cntent-rgt-img-ctlr{
		width: 40%;
	    margin-top: -230px;
	    height: 260px;
	}
	.page-bedankt-cntent-desc-inr{
		padding: 0;
	}
}
@media(max-width: 575px){
	.page-bedankt-cntent-cntlr{
		padding-bottom: 50px;
	}
	.page-bedankt-cntent-rgt-img-ctlr{
		width: 58%;
	    margin-top: -260px;
	    height: 293px;
	}
	.page-bedankt-cntent-lft-img-ctlr{
		height: 420px;
	}
}
@media(max-width: 379px){
	.page-bedankt-cntent-lft-img-ctlr {
	    width: 80%;
	    height: 300px;
	}
	.page-bedankt-cntent-rgt-img-ctlr{
		width: 60%;
	    margin-top: -175px;
	    height: 200px;
	}
}