.page-banner{
	position: relative;
	overflow: hidden;
}

.page-banner-bg{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
}

.page-bnr-des-ctlr{
	height: 700px;
	display: flex;
	align-items: flex-end;
	z-index: 2;
	position: relative;
	padding-bottom: 80px;
}

.club-pagina-details-con-ctlr .breadcrumb-sec{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9;
}
.club-pagina-details-con-ctlr .breadcrumb-cntlr ul li a, 
.club-pagina-details-con-ctlr .breadcrumb-cntlr ul li span, 
.club-pagina-details-con-ctlr .breadcrumb-cntlr ul li a span{
	color: #fff;
}
.club-pagina-details-con-ctlr .breadcrumb-cntlr ul li a:hover, 
.club-pagina-details-con-ctlr .breadcrumb-cntlr ul li span:hover, 
.club-pagina-details-con-ctlr .breadcrumb-cntlr ul li a span:hover{
	color: #E63312;
}
.club-pagina-details-con-ctlr .breadcrumb-cntlr ul li.active span, 
.club-pagina-details-con-ctlr .breadcrumb-cntlr ul li.active a {
    color: #E63312;
}

.club-pagina-details-con-ctlr .page-bnr-title{
	font-size: 96px!important;
	margin-bottom: 12px;
}
.club-pagina-details-con-ctlr .page-bnr-subtitle{
	text-transform: initial;
}


.customer-service-sec{
	padding-top: 90px;
	padding-bottom: 80px;
}

.customer-service-sec-inr{
	display: flex;
	align-items: center;
	padding-bottom: 55px;
}
.customer-service-lft{
	width: 60%;
	padding-right: 20px;
}

.customer-service-rgt{
	width: 40%;
	text-align: right;
}

.club-pagina-details-con-ctlr .sec-entry-hdr-title{
	margin-bottom: 30px;
}


.two-plat-text-module-sec{
	padding: 75px 0 110px;
	position: relative;
}

.red-angle{
	position: absolute;
	top: 0;
	left: 0;
	max-width: 250px;
}

.two-plat-text-module-sec .sec-entry-hdr{
	max-width: 100%;
	padding-bottom: 25px;
}

.dfp-two-des-module{
	display: flex;
	flex-wrap: wrap;
	margin-left: -20px;
	margin-right: -20px;
}

.dfp-two-des-col{
	width: 50%;
	padding-left: 20px;
	padding-right: 20px;
}
.dfp-two-des-col p{
	margin-bottom: 28px;
}

