.page-banner{
	position: relative;
}
.page-banner-inner{
	position: relative;
	overflow: hidden;
}
.page-banner-bg{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
}

.page-bnr-des-ctlr{
	height: 700px;
	display: flex;
	align-items: flex-end;
	z-index: 2;
	position: relative;
	padding-bottom: 80px;
}
.page-banner-squre-icon-ctlr{
	position: absolute;
	right: 80px;
	bottom: -90px;
	z-index: 3;
}
.sport-pagina-content-cntlr{
	position: relative;
}
.sport-pagina-content-cntlr .breadcrumb-sec,
.club-pagina-details-con-ctlr .breadcrumb-sec{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9;
}
.sport-pagina-content-cntlr .breadcrumb-cntlr ul li a, 
.sport-pagina-content-cntlr .breadcrumb-cntlr ul li span, 
.sport-pagina-content-cntlr .breadcrumb-cntlr ul li a span,
.club-pagina-details-con-ctlr .breadcrumb-cntlr ul li a, 
.club-pagina-details-con-ctlr .breadcrumb-cntlr ul li span, 
.club-pagina-details-con-ctlr .breadcrumb-cntlr ul li a span{
	color: #fff;
}
.sport-pagina-content-cntlr .breadcrumb-cntlr ul li a:hover, 
.sport-pagina-content-cntlr .breadcrumb-cntlr ul li span:hover, 
.sport-pagina-content-cntlr .breadcrumb-cntlr ul li a span:hover
.club-pagina-details-con-ctlr .breadcrumb-cntlr ul li a:hover, 
.club-pagina-details-con-ctlr .breadcrumb-cntlr ul li span:hover, 
.club-pagina-details-con-ctlr .breadcrumb-cntlr ul li a span:hover{
	color: #E63312;
}
.sport-pagina-content-cntlr .breadcrumb-cntlr ul li.active span, 
.sport-pagina-content-cntlr .breadcrumb-cntlr ul li.active a, 
.club-pagina-details-con-ctlr .breadcrumb-cntlr ul li.active span, 
.club-pagina-details-con-ctlr .breadcrumb-cntlr ul li.active a {
    color: #E63312;
}

.club-pagina-details-con-ctlr .page-bnr-title{
	font-size: 90px!important;
	margin-bottom: 12px;
}
.club-pagina-details-con-ctlr .page-bnr-subtitle{
	text-transform: initial;
	font-size: 25px;
}
.page-bnr-title > span{
	font-weight: 100;
}


.customer-service-sec{
	padding-top: 90px;
	padding-bottom: 40px;
}

.customer-service-sec-inr{
	display: flex;
	align-items: center;
	padding-bottom: 55px;
}
.customer-service-lft{
	width: 56%;
	padding-right: 20px;
}

.customer-service-rgt{
	width: 44%;
	text-align: right;
	padding-top: 60px;
}

.customerServiceSlider .customer-service-slider-item{
	display: none;
}

.customerServiceSlider .customer-service-slider-item:first-child{
	display: block;
}

.customerServiceSlider.slick-initialized .customer-service-slider-item{
	display: block;
}

.club-pagina-details-con-ctlr .sec-entry-hdr-title{
	margin-bottom: 30px;
}


.two-plat-text-module-sec{
	padding: 75px 0 110px;
	position: relative;
	overflow: hidden;
}

.red-angle{
	position: absolute;
    top: 0;
    left: -88px;
	z-index: 1;
	overflow: hidden;
}

.two-plat-text-module-sec-inr{
	position: relative;
	z-index: 2;
}
.two-plat-text-module-sec .sec-entry-hdr{
	max-width: 100%;
	padding-bottom: 25px;
}

.dfp-two-des-module{
	display: flex;
	flex-wrap: wrap;
	margin-left: -20px;
	margin-right: -20px;
}

.dfp-two-des-col{
	width: 50%;
	padding-left: 20px;
	padding-right: 20px;
}
.dfp-two-des-col p{
	margin-bottom: 28px;
	font-size: 16px;
}
.club-pagina-details-con-ctlr .customer-service-sec .fl-prev{
	padding-right: 24px;
}
.club-pagina-details-con-ctlr .customer-service-sec .fl-next{
	padding-left: 24px;
}
@media (max-width: 1499px){
	.red-angle img{
		max-width: 250px;
		height: auto;
	}
	.red-angle {
	    top: 30px;
	    left: -20px;
	}
}
@media (max-width: 1399px){
	.red-angle img{
		max-width: 210px;
	}
	.page-banner-squre-icon-ctlr {
	    bottom: -60px;
	    right: 20px;
	}
	.page-banner-squre-icon-ctlr img {
	    max-width: 90px;
	}
	.page-bnr-des-ctlr{
		height: 550px;
		padding-bottom: 55px;
	}
	.club-pagina-details-con-ctlr .page-bnr-title {
	    font-size: 80px!important;
	}
	.customer-service-sec {
	    padding-top: 80px;
	}
	.two-plat-text-module-sec{
		padding-bottom: 100px;
	}
}
@media (max-width: 1299px){
	.red-angle img{
		max-width: 170px;
	}
	.red-angle {
	    top: 40px;
	    left: -35px;
	}
}
@media (max-width: 1199px){
	.red-angle img{
		max-width: 150px;
	}
	.red-angle {
	    top: 40px;
	    left: -35px;
	}
	.red-angle {
	    top: 55px;
	    left: -50px;
	}
	.page-bnr-des-ctlr {
	    height: 500px;
	}
	.club-pagina-details-con-ctlr .page-bnr-title {
	    font-size: 70px!important;
	}
	.customer-service-lft{
		width: 67%;
	}
	.customer-service-rgt {
	    width: 33%;
	}
	.customer-service-sec {
	    padding-top: 70px;
	}
	.customer-service-sec {
	    padding-bottom: 65px;
	}
	.two-plat-text-module-sec{
		padding-bottom: 80px;
	}
	.club-pagina-details-con-ctlr .page-bnr-subtitle{
		font-size: 23px;
	}
}

@media(max-width: 991px){
	.page-bnr-des-ctlr {
	    height: 450px;
	    padding-bottom: 45px;
	}
	.club-pagina-details-con-ctlr .page-bnr-title {
	    font-size: 58px!important;
	}
	.page-banner-squre-icon-ctlr{
		right: 20px;
		bottom: -55px;
	}
	.page-banner-squre-icon-ctlr img {
	    max-width: 80px;
	}
	.club-pagina-details-con-ctlr .customer-service-sec .fl-prev {
	    padding-right: 18px;
	}
	.club-pagina-details-con-ctlr .customer-service-sec .fl-next {
	    padding-left: 18px;
	}
	.customer-service-lft {
	    width: 75%;
	}
	.customer-service-rgt {
	    width: 25%;
	}
	.customer-service-sec {
	    padding-top: 60px;
	}
	.customer-service-sec {
	    padding-bottom: 50px;
	}
	.two-plat-text-module-sec{
		padding-bottom: 60px;
	}
	.club-pagina-details-con-ctlr .page-bnr-subtitle{
		font-size: 21px;
	}
}

@media(max-width: 767px){
	.club-pagina-details-con-ctlr .page-bnr-title {
	    font-size: 48px!important;
	}
	.page-bnr-des-ctlr {
	    height: 400px;
	    padding-bottom: 30px;
	}
	.page-bnr-subtitle{
		font-size: 18px!important;
	}
	.customer-service-sec-inr{
		display: block;
		padding-bottom: 30px;
	}
	.customer-service-lft {
	    width: 100%;
	    padding-right: 0;
	}
	.customer-service-rgt {
	    width: 100%;
	}
	.customer-service-rgt{
		text-align: left;
	}
	.customer-service-sec .fl-prev-next{
		display: flex;
		align-items: center;
		padding-right: 20px;
	}
	.club-pagina-details-con-ctlr .customer-service-sec .fl-next{
		margin-left: auto;
	}
	.customer-service-rgt{
		padding-top: 22px;
	}
	.dfp-two-des-module{
		display: block;
		margin-left: 0;
		margin-right: 0;
	}
	.dfp-two-des-col {
	    width: 100%;
	    padding-left: 0;
	    padding-right: 0;
	}
	.customer-service-sec {
	    padding-top: 50px;
	    padding-bottom: 30px;
	}
	.club-pagina-details-con-ctlr .sec-entry-hdr-title {
	    margin-bottom: 18px;
	}
	.two-plat-text-module-sec{
		padding-top: 90px;
		padding-bottom: 40px;
	}
	.red-angle img {
	    max-width: 200px;
	}
	.red-angle {
	    top: 0;
	}
	.xs-red-angle{
		position: absolute;
		top: 0;
		left: 0;
	}
	.club-pagina-details-con-ctlr .page-bnr-subtitle{
		font-size: 19px;
	}

}

@media(max-width: 575px){
	.page-bnr-des-ctlr {
	    height: 360px;
	    padding-bottom: 15px;
	}
	.club-pagina-details-con-ctlr .page-bnr-subtitle{
		font-size: 18px;
	}
	.two-plat-text-module-sec .sec-entry-hdr-title{
		font-size: 30px;
	}
}