#faq-detail .gallery-wrap{
	padding-top: 5px;
	padding-bottom: 26px;
}
#faq-detail .dfp-promo-module-title{
	margin-bottom: 39px;
}
.related-faq-con-cntlr .sec-entry-hdr{
	padding-bottom: 20px;
}
.related-faq-field-cntlr .field-fag{
	max-width: 100%;
}
.related-faq-field-cntlr .field-fag ul{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -12px;
}
.related-faq-field-cntlr .field-fag ul li{
	width: 50%;
	padding: 0 12px;
}
.related-faq-field-cntlr .field-faq-accordion-title{
	font-size: 26px;
}
.related-faq-field-cntlr .field-faq-accordion-desc{
	padding-right: 35px;
}
.related-faq-field-cntlr .field-faq-accordion{
	background: #101010;
	margin-bottom: 32px;
}
.related-faq-sec{
	padding-top: 80px;
	padding-bottom: 84px;
	background: #151618;
}