.home header.header{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	z-index: 2;
}

header.header{
	padding-top: 35px;
	position: relative;

}
.header:after{
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	height: 5px;
    background: #1c1d1f;
    width: 50%;
}
.header-inr{
	display: flex;
	align-items: flex-end;
	padding-bottom: 35px;
	border-bottom: 5px solid #1c1d1f;
}

.hdr-border-none.header:after{
	content: none;
}
.hdr-border-none .header-inr{
	border-bottom: none;
}

.hdr-rgt{
	margin-left: auto;
}

.logo a{
	display: inline-block;
	vertical-align: baseline;
}

.hdr-top-menu{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-bottom: 30px;
}

.hdr-account{
	padding-right: 35px;
}
.hdr-account a{
	display: inline-block;
	vertical-align: baseline;
	font-size: 14px;
	line-height: 1;
	color: #7D8D98;
	text-transform: uppercase;
	font-weight: 700;
	text-decoration: none;
	padding-left: 22px;
	position: relative;
}
.hdr-account a i{
	position: absolute;
	top: 0;
	left: 0;
	margin-top: -2px;
}

.hdr-account a:hover{
	color: #fff;
}
.hdr-account a:hover svg{
	fill: #fff;
}


.hdr-social-media{
	padding-left: 35px;
	padding-right: 35px;
	position: relative;
}
.hdr-social-media:after{
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	height: 10px;
	width: 10px;
	border: 1px solid #E63312;
}
.hdr-social-media:before{
	content: "";
	position: absolute;
	top: 50%;
	right: 0;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	height: 10px;
	width: 10px;
	border: 1px solid #E63312;
	margin-right: -5px;
}
.hdr-social-media ul{
	display: flex;
	align-items: center;
	margin-left: -12px;
	margin-right: -12px;
}
.hdr-social-media ul li{
	padding-left: 12px;
	padding-right: 12px;
}
.hdr-social-media ul li a{
	display: inline-block;
	vertical-align: baseline;
	font-size: 18px;
	color: #7D8D98;
}
.hdr-social-media ul li a:hover{
	color: #fff;
}

.hdr-lang-cntlr{
	margin-left: 35px;
}
.hdr-lang ul{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 -11px;
}
.hdr-lang ul li{
	position: relative;
	padding: 0 11px;
}
.hdr-lang ul li:after{
	position: absolute;
	content: "";
	margin-top: 2px;
	right: 0;
	top: 50%;
	transform: translate(50%,-50%);
	-ms-transform: translate(50%,-50%);
	-webkit-transform: translate(50%,-50%);
	-o-transform: translate(50%,-50%);
	background-image: url('../images/slash-icon.png');
	width: 6px;
	height: 11px;
	background-repeat: no-repeat!important;
	background-size: contain!important;
	background-position: center center!important;
}
.hdr-lang ul li:last-child:after{
	content: none;
	display: none;
}
.hdr-lang ul li a{
	display: inline-block;
	vertical-align: baseline;
	font-weight: 400;
	font-size: 14px;
	line-height: 1;
	color: #7D8D98;
	text-decoration: none;
}
.hdr-lang ul li.active a,
.hdr-lang ul li a:hover{
	color: #fff;
}
.hdr-lang ul li.active a{
	font-weight: 800;
}


nav.main-nav > ul{
	display: flex;
	align-items: center;
	margin-left: -40px;
	margin-right: -40px;
}
nav.main-nav > ul > li{
	padding-left: 40px;
	padding-right: 40px;
	position: relative;
}
nav.main-nav > ul > li > a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-size: 23px;
	line-height: 1;
	font-weight: 600;
	font-family: 'Barlow Condensed', sans-serif;
	padding-bottom: 10px;
	position: relative;
}
nav.main-nav > ul > li > a:hover{
	color: #7D8D98;
}
nav.main-nav > ul > li > a:after{
	content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    bottom: 0;
    transform-origin: left;
    width: 0;
    height: 3px;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    background: #E63312;
}
nav.main-nav > ul > li > a:hover:after{
	width: 17px;
}

nav.main-nav > ul > li.current-menu-item > a:after{
	width: 17px;
}

nav.main-nav > ul > li.menu-item-has-children > a{
	padding-right: 22px;
    position: relative;
}
nav.main-nav > ul > li.menu-item-has-children > a:before {
    content: "";
    position: absolute;
    right: 0;
    top: 8px;
    background-image: url('../images/hdr-lang-arrow.svg');
	background-repeat: no-repeat!important;
	height: 8px;
	width: 12px;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

nav.main-nav > ul > li.menu-item-has-children:hover > a:before{
    transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    background-image: url('../images/hdr-lang-arrow-hover.svg');
}

nav.main-nav > ul > li.menu-item-has-children ul.sub-menu{
	position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    z-index: -9999;
    width: 200px;
    padding: 0;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transform: scale3d(1,0,1);
    -ms-transform: scale3d(1,0,1);
    -webkit-transform: scale3d(1,0,1);
    -o-transform: scale3d(1,0,1);
    transform-origin: top;
    opacity: 0;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 15%);
    -ms-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.15%);
    -webkit-box-shadow: 0 2px 12px 0 rgb(0 0 0 / 15%);
}

nav.main-nav > ul > li.menu-item-has-children:hover ul.sub-menu {
    transform: scale3d(1,1,1);
    -ms-transform: scale3d(1,1,1);
    -webkit-transform: scale3d(1,1,1);
    -o-transform: scale3d(1,1,1);
    opacity: 1;
    visibility: visible;
    z-index: 9999;
}
nav.main-nav > ul > li.menu-item-has-children:hover a:after{
	content: none;
}

nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li {
    border-bottom: 1px solid #E63312;
    position: relative;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li:last-child{
	border-bottom: 0;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li a {
    font-size: 20px;
    display: block;
    padding: 10px 17px;
    text-decoration: none;
    color: #E63312;
    text-transform: uppercase;
    font-weight: 600;
	font-family: 'Barlow Condensed', sans-serif;
}

nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li a:hover{
	opacity: 0.7;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li:after {
    position: absolute;
    content: '';
    background: #E63312;
    top: 0;
    left: 0;
    bottom: 0;
    width: 2px;
    height: 0;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu > li:hover:after {
    height: 100%;
}
nav.main-nav > ul > li.menu-item-has-children:hover a{
    color: #7D8D98;
}
