












.fd-link-module-sec{
	padding-bottom: 90px;
}
.fd-link-module-sec-inr{
	display: flex;
	align-items: center;
	height: 207px;
	padding-left: 70px;
	padding-right: 20px;
	
	position: relative;
}
.fd-link-module-sec-desktop,
.fd-link-module-sec-xs{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.fd-link-module-sec-desktop{
	background-position: right center!important;
}
.fd-link-module-sec-xs{
	background-position: center bottom!important;
}
.fdlms-link a{
	display: flex;
	align-items: center;
	text-decoration: none;
	color: #fff;
	font-family: 'Barlow Condensed', sans-serif;
	font-weight: 600;
	font-size: 34px;
	line-height: 1.2;
	position: relative;
	z-index: 2;
}
.fdlms-link a svg{
	margin-left: 35px;
}
.fdlms-link a:hover{
	color: #E63312;
}
.fdlms-link a:hover i svg{
	fill: #E63312!important;
	margin-left: 40px;
}


/*club collection css*/
.club-collection-sec .sec-entry-hdr{
	margin-bottom:40px;
}
.clb-cltion-grd-item-inner{
	position:relative;
	padding-bottom:93px;
}
.club-collection-sec{
    padding-bottom: 30px;
    padding-top: 140px;
}
/*.clb-cltion-grd-item-des{
	display: none;
}*/
.clb-cltion-grd-item-img {
    padding: 82px 20px;
    background: #E9E9E9;
}
.club-collection-slider-item{
	padding:0 10px;
	position: relative;
}
.club-collection-slider{
	margin:0 -10px;
}
.clb-cltion-grd-item-img img {
    max-height: 280px;
    width: auto;
}
.clb-cltion-grd-item-img{
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
	position: relative;
}
.clb-cltion-grd-item-heading{
	
}
.clb-cltion-item-title,
.clb-cltion-item-title a{
	text-decoration: none;
	color:#fff;
}
.clb-cltion-item-title a:hover{
	color: #E63312;
}

.clb-cltion-grd-item-bottom-des,
.clb-cltion-grd-item-bottom-des-hover-ef{
    border: 2px solid rgba(249, 249, 249, 0.05);
    border-top: none;
    padding-bottom: 11px;
    padding-top: 29px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background: #151617;
    padding-left:25px;
    padding-right:25px;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;

}
.clb-cltion-grd-item-bottom-des-hover-ef{
	bottom:-100%;
	opacity:0;
	border-top: 2px solid rgba(249, 249, 249, 0.05);
}
.club-collection-slider-item:hover .clb-cltion-grd-item-bottom-des-hover-ef{
	bottom:0;
	opacity:1;
}
.club-collection-slider-item:hover .clb-cltion-grd-item-bottom-des{
	opacity: 0;
}
.clb-cltion-item-btn {
    margin-bottom: 22px;
}
.clb-cltion-grd-item-des ul{
	padding-left:0px;
	padding-bottom: 60px;
}
.clb-cltion-grd-item-des ul li{
    font-size: 16px;
    padding: 4px 0 8px 23px;
}
.clb-cltion-grd-item-des ul li:before{
	margin-top: 13px;
}
.clb-cltion-grd-item-des p {
    font-size: 16px;
}
.clb-cltion-grd-item-inner:after {
	content: "";
	width: 76px;
	height: 2px;
	background: #fff;
	position: absolute;
	left: -10px;
	bottom: 123px;
	z-index: 11;
}
.clb-cltion-item-btn .fl-btn{
	min-width:155px;
	padding: 12px 20px;
	position: relative;
}
.clb-cltion-item-btn .fl-btn.fl-btn-angel:after{
	border-top: 50px solid #E63312;
}
.clb-cltion-item-btn .fl-btn.fl-btn-angel:hover:after{
	border-top: 49px solid #fff;

}
.clb-cltion-item-btn .fl-btn:before {
    content: "";
    width: 56px;
    height: 2px;
    background: #182027;
    position: absolute;
    z-index: 111;
    right: -43px;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}



/*over field css*/

.team-grd-item-heading .team-grd-item-title,
.team-grd-item-heading .team-grd-item-title a{
	text-transform: capitalize;
	margin-bottom:10px;
	color:#fff;
	text-decoration: none;
}
.team-grd-item-heading span{
 	color:#E63312;
 	font-size:22px;
 	text-transform: uppercase;
	font-family: 'Barlow Condensed', sans-serif;
 	font-weight:400;
 	display:inline-block;
}
.team-slider{
	display: flex;
	flex-wrap: wrap;
	margin:0 -10px;
}
.team-slider-item{
	width:25%;
	padding:0 10px;
    margin-bottom:40px;
}

.team-grd-item-img-div{
    height: 100%;
    width: 100%;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;

}
.team-grd-item-img {
    height: 420px;
    position: relative;
    overflow: hidden;
}
.team-grd-item-img img{
	height:420px;
	width: auto;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
}
.team-grd-item-img:hover .team-grd-item-img-div,
.team-grd-item-img:hover img{
    transform:scale(1.1);
    -ms-transform:scale(1.1);
    -webkit-transform:scale(1.1);
}
.team-grd-item-des{
    background: #151617;
    border: 2px solid rgba(249, 249, 249, 0.05);
    border-top: none;
    padding-top: 40px;
    padding-left: 32px;
    padding-bottom: 30px;
    padding-right: 30px;
}
.team-grd-item-inner:after{
	content: "";
	width: 76px;
	height: 2px;
	background: #fff;
	position: absolute;
	bottom: 162px;
	left: -10px;
}

.team-grd-item-inner {
    position: relative;
}
.over-field-team-sec {
    position: relative;
    padding-bottom: 90px;
    padding-top: 120px;
}
.team-red-angle-img{
	position: absolute;
	left:0;
	top:0;
	margin-top:-50px;
}
.team-red-angle-img img{
	max-width: 450px;
    width: 100%;
}
.over-field-team-sec .sec-entry-hdr{
	margin-bottom:50px;
}

@media (max-width: 1699px){

}
@media (max-width: 1499px) {

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	

}

@media(max-width: 991px){
	
	
}

@media(max-width: 767px){
	.fd-link-module-sec-inr{
		height: 400px;
		padding-top: 60px;
		padding-left: 20px;
		padding-right: 20px;
		align-items: top;
		justify-content: center;

	}
}

@media(max-width: 575px){
	

}

@media(max-width: 479px){


}

@media(max-width: 359px){

}