.home .hm-banner{
    position: relative;
   /* z-index: 1;*/
}
.hm-banner{
	position: relative;
}
.hm-banner-bg-black {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #000;
    z-index: 1;
}
.hm-video-cntlr {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    z-index: 2;
}
#bnr-vdo {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    min-width: 100%;
    min-height: 100%;
}

.has-vdo .hm-video-cntlr{
    display: block;
}
.has-vdo .hm-banner-bg{
    display: none;
}
.hm-bnr-slider-ctlr{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.hm-bnr-slider,
.hm-bnr-slider-item,
.hm-banner-bg,
.hmBnrSlider .slick-list.draggable,
.hmBnrSlider .slick-track{
    height: 100%;
    position: relative;
    z-index: 2;
}

.hm-bnr-slider-item,
.hm-banner-bg{
    
}

.hm-banner-des-cntlr{
	height: 909px;
    display: flex;
    align-items: center;
    
    padding-top: 180px;
}

.hm-banner-des{
    max-width: 610px;
    width: 100%;
    position: relative;
    z-index: 3;
}


.hm-bnr-sub-title{
    color: #E63312;
    font-weight: 400;
    margin-bottom: 12px;
}

.hm-banner-des-inr{
    padding-right: 80px;
}
.hm-banner-des p:last-child{
    margin-bottom: 30px;
}
.hm-banner-des .fl-btn{
    min-width: 380px;
}

.hm-banner .slick-slider ul.slick-dots{
    position: absolute;
    bottom: 30px;
    right: 50px;
    width: initial;
    z-index: 99;
}

.hm-bnr-icon{
    position: absolute;
    bottom: 0;
    left: 20px;
    z-index: 9;
    margin-bottom: -60px;
}

.hm-bnr-icon img{
    max-width: 80px;
    width: 100%;
}




.usp-sec{
    padding: 65px 0;
}

.usp-grd ul{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -30px;
    margin-right: -30px;
}
.usp-grd ul li{
    padding-left: 30px;
    padding-right: 30px;
}

.usp-grd-item-des{
    display: flex;
    align-items: center;
    justify-content: center;
}
.usp-grd-item-des i{
    margin-right: 15px;
}
.usp-grd-item-des i img{
    max-height: 30px;
}

.usp-grd-des-title{
    font-size: 17px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 0;
    text-transform: initial;
}

.msnry-sec{
    overflow: hidden;
}
.msnry-grd{
    display: flex;
    flex-wrap: wrap;
    margin-left: -6px;
    margin-right: -6px;
}

.msnry-grd-item{
    width: 25%;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 12px;
}

.msnry-grd-item-inr{
    position: relative;
}
.msnry-grd-item-des{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: -1px;
    background: linear-gradient(0deg, rgba(13, 21, 28, 0.75), rgba(13, 21, 28, 0.75));
    display: flex;
    align-items: flex-end;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
    transform-origin: bottom;
    -webkit-transform: scale3d(1,0,1);
    -ms-transform: scale3d(1,0,1);
    transform: scale3d(1,0,1);
}
.msnry-grd-item-inr:hover .msnry-grd-item-des{
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale3d(1,1,1);
    -ms-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
}
.msnry-grd-item-inr:hover .msnry-grd-img-title{
    opacity: 0;
}

.msnry-grd-item-des-inr{
    padding-left: 50px;
    padding-bottom: 25px;
    padding-right: 20px;
}

.msnry-grd-item-img-ctlr{
    position: relative;
    overflow: hidden;
}

.msnry-grd-item-img-des{
    position: absolute;
    left: 30px;
    bottom: 10px;
}

.msnry-grd-img-title{
    padding-left: 20px;
    position: relative;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}
.msnry-grd-img-title:after{
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 10px;
    width: 10px;
    border: 1px solid #E63312;
}

.msnry-grd-des-title{
    margin-bottom: 10px;
    position: relative;
}
.msnry-grd-des-title a{
    text-decoration: none;
    color: #fff;
}
.msnry-grd-des-title:after{
    content: "";
    position: absolute;
    top: 50%;
    left: -20px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 10px;
    width: 10px;
    border: 1px solid #E63312;
}
.msnry-grd-item-des-inr p{
    margin-bottom: 20px;
    color: #fff;
}

.msnry-grd-item-des-inr > a{
    text-decoration: none;
    display: inline-block;
    vertical-align: baseline;
    font-size: 19px;
    text-transform: uppercase;
    color: #fff;
    line-height: 1;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 600;
}
.msnry-grd-item-des-inr a:hover{
    color: #E63312;
}

.reb-bg .msnry-grd-item-img{
    display: none;
}

.reb-bg .msnry-grd-item-red{
    height: 260px;
    background: #E63312;
}

.reb-bg .msnry-grd-item-img-des{
    left: 0;
    right: 0;
    bottom: initial;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
}
.reb-bg .msnry-grd-item-img-des .msnry-grd-img-title{
    margin-bottom: 0;
}




.hm-grd-sec{
    padding: 210px 0 90px;
    position: relative;
}
.hm-grd-sec:after{
    content: "";
    height: 5px;
    background: rgba(125, 141, 152, 0.1);
    width: 64%;
    position: absolute;
    right: 0;
    top: 80px;
}
.hm-grd-rgt-sqr-box{
    height: 610px;
    width: 43%;
    background: rgba(125, 141, 152, 0.05);
    position: absolute;
    right: 0;
    top: 0;
}

.hm-grd-sec-inr ul{
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-right: -20px;
}
.hm-grd-sec-inr ul li{
    width: 33.3333%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.hm-grd-des{
    text-align: center;
}
.hm-grd-sec-inr ul li:first-child .hm-grd-des{
    text-align: left;
}
.hm-grd-sec-inr ul li:last-child .hm-grd-des{
    text-align: right;
}

.hm-grd-des-title{
    margin-bottom: 7px;
}

.hm-grd-des-sub-title{
    color: #E63312;
    margin-bottom: 35px;
}

.process-sec{
    position: relative;
}
.process-rgt-pos-img{
    position: absolute;
    top: -80px;
    right: 50px;
}
.process-rgt-pos-img img{
    max-width: 150px;
}
.process-sec-inr{
    display: flex;
    align-items: center;
}

.process-img-ctlr{
    width: 50%;
}

.process-des-ctlr{
    width: 50%;
    padding-left: 50px;
    padding-right: 15px;
}


.process-img-lft-ctlr{
    width: 80%;
    height: 750px;
}
.process-img-lft{
    height: 100%;
}

.process-img-rgt-ctlr{
    height: 330px;
    width: 37%;
    margin-top: -300px;
    margin-left: auto;
}

.process-img-rgt{
    height: 100%;
    width: 100%;
}

.process-des{
    max-width: 600px;
    width: 100%;
}

.process-des-title{
    line-height: 1.25;
}

.part-of-team-sec{
    padding: 70px 0 100px;
    position: relative;
}
.part-of-team-box{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 400px;
    width: 75%;
    background: rgba(125, 141, 152, 0.05);
}

.part-of-team-des{
    text-align: center;
}
.part-of-team-des-title{
    font-size: 100px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
}

.part-of-team-des-title strong{
    color: #E63312;
}



.cta-module-2 .cta-module{
    border-bottom: none;
    background: transparent;
    padding: 100px 70px;
}

.cta-module-2{
    position: relative;
}
.cta-module-2 .cta-lft-img{
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -50px;
}
.cta-module-2 .cta-lft-img img{
    max-width: 350px;
    width: 100%;
}

.cta-module-img{
    border: 20px solid #151617;
}

.cta-module{
   display: flex;
   align-items: center;
}
.cta-module-2 .cta-module-des-ctlr{
    width: 60%;
    padding-right: 25px;
    order: 1;
}
.cta-module-2 .cta-module-img-ctlr{
    width: 40%;
    order: 2;
}

.cta-module-des-title{
    margin-bottom: 25px;
}
.cta-module-2 .cta-module-des p{
    margin-bottom: 25px!important;
}

.cta-module{
    padding: 70px 70px;
    border-bottom: 11px solid #E63312;
    background: #151617;
}

.cta-module-des-ctlr{
    width: 60%;
    padding-right: 20px;
}

.cta-btn-ctlr{
    width: 40%;
    text-align: right;
}
.cta-module-des p:last-of-type{
    margin-bottom: 0;
}




.clubs-team-sec-inr{
    display: flex;
    align-items: center;
    padding-bottom: 80px;
    padding-top: 75px;
    border-top: 2px solid rgba(125, 141, 152, 0.1);
}
.clubs-team-lft{
    width: 65%;
    padding-right: 20px;
}
.clubs-team-rgt{
    width: 35%;
    text-align: right;
}

.clubs-team-sec{
    overflow: hidden;
}
.clubs-team-slider-ctlr{
    padding-right: 40px;
    margin-right: -70px;
}
.clubs-team-grds{
    display: flex;
    flex-wrap: wrap;
}
.clubs-team-grd{
    width: 25%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
}

.clubs-team-grd-item{
    position: relative;
}

.clubs-team-grd-des{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(0deg, rgba(16, 16, 16, 0.7), rgba(16, 16, 16, 0.7));
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
    transform-origin: bottom;
    -webkit-transform: scale3d(1,0,1);
    -ms-transform: scale3d(1,0,1);
    transform: scale3d(1,0,1);
}

.clubs-team-grd-des-inr{
    text-align: center;
    position: relative;
    z-index: 11;
}

.clubs-team-name-title{
    margin-bottom: 0;
    font-size: 25px;
}
.clubs-team-name-title a{
    color: #fff;
    text-decoration: none;
}
.clubs-team-name-title a:hover{
    color: #E63312;
}

.clubs-team-grd-item:hover .clubs-team-grd-des{
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale3d(1,1,1);
    -ms-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
}

.fl-prev-next{
    margin-left: -22px;
    margin-right: -22px;
}
.fl-prev,
.fl-next{
    padding-left: 22px;
    padding-right: 22px;
}
.fl-prev i,
.fl-next i{
    cursor: pointer;
}

.fl-prev i:hover svg,
.fl-next i:hover svg{
    fill: #E63312;
    fill-opacity: 1;
}

.clubs-team-logo{
    max-width: 70px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;
}
.clubs-team-logo a{
    display: inline-block;
    vertical-align: baseline;
}



@media(max-width: 1399px){
    .process-rgt-pos-img {
        position: absolute;
        top: -80px;
        right: 10px;
    }
    .process-rgt-pos-img img {
        max-width: 100px;
    }
}

@media(max-width: 1199px){
    .usp-grd ul {
        margin-left: -20px;
        margin-right: -20px;
    }
    .usp-grd ul li {
        padding-left: 20px;
        padding-right: 20px;
    }
    .hm-bnr-icon{
        margin-bottom: -48px;
    }
    .hm-bnr-icon img {
        max-width: 70px;
    }
}

