.home .hm-banner{
    position: relative;
    z-index: 1;
}
.hm-banner{
	position: relative;
	overflow: hidden;
}
.hm-banner-bg-black {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #000;
    z-index: 1;
}
.hm-video-cntlr {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    z-index: 2;
}
#bnr-vdo {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    min-width: 100%;
    min-height: 100%;
}

.has-vdo .hm-video-cntlr{
    display: block;
}
.has-vdo .hm-banner-bg{
    display: none;
}
.hm-banner-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.hm-banner-des-cntlr{
	height: 909px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 3;
}

.hm-banner-des{
    max-width: 510px;
    width: 100%;
}


.hm-bnr-sub-title{
    color: #E63312;
    font-weight: 400;
}

.hm-banner-des p{
    margin-bottom: 30px;
}
.hm-banner-des .fl-btn{
    min-width: 428px;
}




.usp-sec{
    padding: 85px;
}

.usp-grd ul{
    display: flex;
    align-items: center;
    margin-left: -20px;
    margin-right: -20px;
}
.usp-grd ul li{
    width: 20%;
    padding-left: 20px;
    padding-right: 20px;
}

.usp-grd-item-des{
    display: flex;
    align-items: center;
}
.usp-grd-item-des i{
    margin-right: 20px;
}

.usp-grd-des-title{
    font-size: 17px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 0;
}

.msnry-sec{
    overflow: hidden;
}
.msnry-grd{
    display: flex;
    flex-wrap: wrap;
    margin-left: -6px;
    margin-right: -6px;
}

.msnry-grd-item{
    width: 25%;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 12px;
}

.msnry-grd-item-inr{
    position: relative;
}
.msnry-grd-item-des{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(0deg, rgba(13, 21, 28, 0.75), rgba(13, 21, 28, 0.75));
    display: flex;
    align-items: flex-end;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}
.msnry-grd-item-inr:hover .msnry-grd-item-des{
    opacity: 1;
    visibility: visible;
}

.msnry-grd-item-des-inr{
    padding-left: 50px;
    padding-bottom: 25px;
    padding-right: 20px;
}

.msnry-grd-item-img-ctlr{
    position: relative;
    overflow: hidden;
}

.msnry-grd-item-img-des{
    position: absolute;
    left: 30px;
    bottom: 10px;
}

.msnry-grd-img-title{
    padding-left: 20px;
    position: relative;
}
.msnry-grd-img-title:after{
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 10px;
    width: 10px;
    border: 1px solid #E63312;
}

.msnry-grd-des-title{
    margin-bottom: 10px;
    position: relative;
}
.msnry-grd-des-title:after{
    content: "";
    position: absolute;
    top: 50%;
    left: -20px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 10px;
    width: 10px;
    border: 1px solid #E63312;
}
.msnry-grd-item-des-inr p{
    margin-bottom: 20px;
    color: #fff;
}

.msnry-grd-item-des-inr a{
    text-decoration: none;
    display: inline-block;
    vertical-align: baseline;
    font-size: 19px;
    text-transform: uppercase;
    color: #fff;
    line-height: 1;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 600;
}




.hm-grd-sec{
    padding: 230px 0 110px;
    position: relative;
}
.hm-grd-sec:after{
    content: "";
    height: 5px;
    background: rgba(125, 141, 152, 0.1);
    width: 60%;
    position: absolute;
    right: 0;
    top: 100px;
}
.hm-grd-rgt-sqr-box{
    height: 650px;
    width: 700px;
    background: rgba(125, 141, 152, 0.05);
    position: absolute;
    right: 0;
    top: 0;
}

.hm-grd-sec-inr ul{
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-right: -20px;
}
.hm-grd-sec-inr ul li{
    width: 33.3333%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.hm-grd-des{
    text-align: center;
}
.hm-grd-sec-inr ul li:first-child .hm-grd-des{
    text-align: left;
}
.hm-grd-sec-inr ul li:last-child .hm-grd-des{
    text-align: right;
}

.hm-grd-des-title{
    margin-bottom: 7px;
}

.hm-grd-des-sub-title{
    color: #E63312;
    margin-bottom: 35px;
}


.process-sec-inr{
    display: flex;
    align-items: center;
}

.process-img-ctlr{
    width: 50%;
}

.process-des-ctlr{
    width: 50%;
    padding-left: 50px;
    padding-right: 15px;
}


.process-img-lft-ctlr{
    width: 80%;
    height: 800px;
}
.process-img-lft{
    height: 100%;
}

.process-img-rgt-ctlr{
    height: 350px;
    width: 50%;
    margin-top: -300px;
    margin-left: auto;
}

.process-img-rgt{
    height: 100%;
    width: 100%;
}

.process-des{
    max-width: 600px;
    width: 100%;
}




.cta-sec{
    padding: 110px 0;
}

.cta-module-2 .cta-ctlr{
   max-width: 1000px; 
   width: 100%;
   margin-left: auto;
   margin-right: auto;
} 
.cta-module{
   display: flex;
   align-items: center;
}
.cta-module-2 .cta-module-des-ctlr{
    width: 60%;
    padding-right: 20px;
    order: 1;
}
.cta-module-2 .cta-module-img-ctlr{
    width: 40%;
    order: 2;
}

.cta-module-des-title{
    margin-bottom: 25px;
}
.cta-module-des p{
    margin-bottom: 25px;
}





.clubs-team-sec-inr{
    display: flex;
    align-items: center;
    padding-bottom: 80px;
    padding-top: 75px;
    border-top: 2px solid rgba(125, 141, 152, 0.1);
}
.clubs-team-lft{
    width: 65%;
    padding-right: 20px;
}
.clubs-team-rgt{
    width: 35%;
    text-align: right;
}


.clubs-team-grds{
    display: flex;
    flex-wrap: wrap;
}
.clubs-team-grd{
    width: 25%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
}

.clubs-team-grd-item{
    position: relative;
}

.clubs-team-grd-des{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(0deg, rgba(16, 16, 16, 0.7), rgba(16, 16, 16, 0.7));
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.clubs-team-grd-des-inr{
    text-align: center;
}

.clubs-team-name-title{
    margin-bottom: 0;
}

.clubs-team-grd-item:hover .clubs-team-grd-des{
    opacity: 1;
    visibility: visible;
}

.fl-prev-next{
    margin-left: -22px;
    margin-right: -22px;
}
.fl-prev,
.fl-next{
    padding-left: 22px;
    padding-right: 22px;
}
.fl-prev i,
.fl-next i{
    cursor: pointer;
}

.fl-prev i:hover svg,
.fl-next i:hover svg{
    fill: #E63312;
}

.clubs-team-logo{
    max-width: 70px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

