.slick-slider ul.slick-dots{
	position: static;
	line-height: 0;
	padding: 0 20px!important;
}
.slick-slider .slick-dots li{
	width: 56px!important;
	height: 4px!important;
	position: static;
	background: #FFFFFF!important;
	margin: 0 8px;
	padding: 0!important;
}
.slick-slider .slick-dots li.slick-active,
.slick-slider .slick-dots li:hover{
	background: #E63312!important;
}
.slick-slider .slick-dots li:before,
.slick-slider .slick-dots li button:before{
	content: none!important;
}
.slick-slider .slick-dots li button{
	padding: 0;
	width: 16px;
	height: 16px;
}

.slick-dots li:only-child{ 
	display: none; 
}


.sitemap{
	padding: 50px 0 70px;
}

.sitemap ol li a{
	color: #FF674D;
}
.sitemap ol li{
	padding-left: 25px;
}

.sitemap ol li a:focus{
	text-decoration: underline;
}


/* section entry header */
.sec-entry-hdr{
	max-width: 845px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}
.sec-entry-hdr-title{
	text-transform: uppercase;
	margin-bottom: 25px;
}

/* common button */

.fl-btn{
	display: inline-block;
    vertical-align: baseline;
    min-width: 185px;
    color: #fff;
    background: #E63312;
    font-size: 19px;
    line-height: 1.1;
    text-align: center;
    padding: 15px 20px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 600;
    border: 2px solid #E63312;
    text-transform: capitalize;
    text-decoration: none;
    position: relative;
}

.fl-btn:hover{
	background: transparent;
	color: #E63312;
}

.fl-btn.fl-btn-angel{
	min-width: 177px;
}

.fl-btn.fl-btn-angel:after{
	content: "";
	position: absolute;
	top: -2px;
	right: -32px;
	border-top: 55px solid #E63312;
    border-right: 30px solid transparent;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}
.fl-btn.fl-btn-angel:hover{
	background: #fff;
	border-color: #fff;
	color: #E63312;
}
.fl-btn.fl-btn-angel:hover:after{
	border-top-color: #fff;
}
.fl-btn.fl-transparent-btn{
	background: transparent;
	border-color: #7D8C98;
	color: #7D8C98;
}
.fl-btn.fl-transparent-btn:hover{
	background: #E63312;
	border-color: #E63312;
	color: #fff;
}
.fl-text-btn{
	font-size: 16px;
	line-height: 1.75;
	font-weight: 700;
	color: #E63312!important;
	padding-right: 25px;
	position: relative;
}
.fl-text-btn i{
	position: absolute;
	right: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	margin-top: 0;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
}
.fl-text-btn:hover i{
	margin-right: -5px;
}

.select2-container--default .select2-selection--single {
     background-color: #101010; 
    border: 2px solid #2b2f32;
    border-radius: 0;
    padding: 15px 20px;
    height: 48px;
    display: flex;
    align-items: center;
}
.select2-container .select2-selection--single .select2-selection__rendered {
     display: initial; 
     padding-left: 0; 
     padding-right: 0; 
     overflow: hidden; 
     white-space: nowrap; 
}
.select2-container--default .select2-results__option--highlighted[aria-selected],
 .select2-container--default .select2-results__option--highlighted[data-selected] {
    background-color: #7c8d97!important;
    color: #fff!important;
}
ul.select2-results__options li {
    padding: 0px 20px 0px!important;
}
.select2-container--default .select2-search--dropdown .select2-search__field, .bootstrap-select .dropdown-menu .bs-searchbox input {
    border: 1px solid #ECF1F4!important;
    height: 25px!important;
    padding: 2px 15px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #ffffff;
}