@import url('_commons.css');
@import url('_typo.css');
@import url('_spaces.css');
@import url('_effects.css');
@import url('_header.css');
@import url('_page.css');
@import url('_home.css');
@import url('_contact.css');
@import url('_footer.css');


/* start of Noyon */
@import url('_faq-overzicht.css');
@import url('_sport-pagina.css');


/* start of Kashob */
@import url('_binnenpagina.css');
@import url('_faq-detail.css');


/* start of Jahir */
@import url('_clubs-pagina.css');


/* start of Momin */

@import url('_bedankt.css');
@import url('_404.css');



/* start of Jahir */





/* start of Shariful */

@import url('_home2.css');
@import url('_over-field.css');
@import url('_club-pagina-details.css');



